logs/
docs/
reobf/
eclipse/
bin/minecraft/javax/
bin/minecraft/net/
bin/minecraft/org/
bin/minecraft/pisi/
bin/minecraft/stelix/
bin/minecraft/Start.class
jars/assets/
jars/logs/
jars/resourcepacks/
jars/saves/
jars/shaderpacks/
jars/options.txt
jars/optionsof.txt
jars/server.properties
jars/servers.dat
jars/usercache.json
temp/